 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #f4f4f4;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px; 
}

.main-header {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;  
}

.main-header h1 {
  color: #4f83ff;
  font-size: 2rem;
}

.main-header nav a {
  color: #4f83ff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-size: 1rem;
}

.main-header nav a:hover {
  color: #88b5ff;
}

.banner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -7%;
  margin-bottom: 4%;
}

.banner img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #0056b3; 
  transform: scale(1.05);  
}

.button:active {
  background-color: #003d80;
  transform: scale(0.95); 
}

.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  flex: 1;
  padding-top: 120px;
}

.project {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: -5%;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project-image img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #4f83ff;
}

.project-description p {
  font-size: 1rem;
  color: #cfcfcf;
}

.main-footer {
  width: 100%;
  background-color: #1e1e1e;
  text-align: center;
  padding: 20px 10px;
  margin-top: auto;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

.main-footer p {
  color: #888;
}

.icon-img {
  width: 30px;
  height: auto;
}

@media (max-width: 768px) {
  .banner {
    margin-top: 2%;
  }

  .project {
    margin-bottom: 8%;
  }

  .project-image img {
    width: 150px;
    height: 250px;
  }
}
